<!doctype html>
<html lang="en">

<link>
<title>Mini project</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap CSS v5.2.1 -->
<link rel="stylesheet" href="./style/login.css">
</link>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>





    <div class="container">
        <!-- Left-->
        <div class="left">
            <!-- Sign in + Facebook, Google logo-->
            <div class="signin">
                <h3 class="signin_logo">Sign in</h3>
                <div class="brand_logo">
                    <i class="fa fa-facebook-square fa-2x"></i>
                    <i class="fa fa-google fa-2x"></i>
                </div>
            </div>
            <!-- User name-->
            <div class="username">
                <b>User name</b>
                <input type="text" placeholder="User Name">
            </div>
            <!-- Password-->
            <div class="password">
                <b>Password</b>
                <input type="password" placeholder="Password">
            </div>
            <!-- Sign in button-->
            <div class="sign_button">
                <button>Sign in</button>
            </div>
            <!-- Remember me and forgot password-->
            <div class="remember_forgot">
                <h9>Remember me</h9>
                <h9>Forgot password</h9>
            </div>
        </div>
        <!-- Right-->
        <div class="right">
            <h2>Welcome to login</h2>
            <h4>You don't have an account?</h4>
            <div class="signup_button">
                <button>Sign up</button>
            </div>
        </div>
    </div>


















    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>